In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

# Load File

In [2]:
df = pd.read_csv('pokemon.csv')

## Verify working data

In [3]:
df.head(2)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,against_grass,against_ground,against_ice,against_normal,against_poison,against_psychic,against_rock,against_steel,against_water,attack,base_egg_steps,base_happiness,base_total,capture_rate,classfication,defense,experience_growth,height_m,hp,japanese_name,name,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,0.25,1.0,2.0,1.0,1.0,2.0,1.0,1.0,0.5,49,5120,70,318,45,Seed Pokémon,49,1059860,0.7,45,Fushigidaneフシギダネ,Bulbasaur,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,0.25,1.0,2.0,1.0,1.0,2.0,1.0,1.0,0.5,62,5120,70,405,45,Seed Pokémon,63,1059860,1.0,60,Fushigisouフシギソウ,Ivysaur,88.1,2,80,80,60,grass,poison,13.0,1,0

### Creat list of colums to make Manually subsetting df easier

`df.columns`: calling all columns from the specified dataframe.
- no brackets because it's a attribute from the [dataframe object](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html).

In [4]:
listofcol = []
for col in df.columns:
    listofcol.append(col)

In [5]:
listofcol

['abilities',
 'against_bug',
 'against_dark',
 'against_dragon',
 'against_electric',
 'against_fairy',
 'against_fight',
 'against_fire',
 'against_flying',
 'against_ghost',
 'against_grass',
 'against_ground',
 'against_ice',
 'against_normal',
 'against_poison',
 'against_psychic',
 'against_rock',
 'against_steel',
 'against_water',
 'attack',
 'base_egg_steps',
 'base_happiness',
 'base_total',
 'capture_rate',
 'classfication',
 'defense',
 'experience_growth',
 'height_m',
 'hp',
 'japanese_name',
 'name',
 'percentage_male',
 'pokedex_number',
 'sp_attack',
 'sp_defense',
 'speed',
 'type1',
 'type2',
 'weight_kg',
 'generation',
 'is_legendary']

### Manually Subsetting df - to information I wish to explore

`df[[columns]]`: using _**two brackets**_ to return a dataframe
- using **only one** bracket to return a [Series](https://pandas.pydata.org/docs/reference/api/pandas.Series.html).

This matters because we need to understand what kind of objects we are working with, so that we know which methods apply or not.

In [6]:
simpledf = df[['pokedex_number','name','type1','type2','capture_rate','hp','speed','attack','sp_attack','defense','sp_defense',
               'generation','height_m','weight_kg','percentage_male','experience_growth','is_legendary', 'classfication','japanese_name']]

In [7]:
simpledf

,pokedex_number,name,type1,type2,capture_rate,hp,speed,attack,sp_attack,defense,sp_defense,generation,height_m,weight_kg,percentage_male,experience_growth,is_legendary,classfication,japanese_name
0,1,Bulbasaur,grass,poison,45,45,45,49,65,49,65,1,0.7,6.9,88.1,1059860,0,Seed Pokémon,Fushigidaneフシギダネ
1,2,Ivysaur,grass,poison,45,60,60,62,80,63,80,1,1.0,13.0,88.1,1059860,0,Seed Pokémon,Fushigisouフシギソウ
2,3,Venusaur,grass,poison,45,80,80,100,122,123,120,1,2.0,100.0,88.1,1059860,0,Seed Pokémon,Fushigibanaフシギバナ
3,4,Charmander,fire,NaN,45,39,65,52,60,43,50,1,0.6,8.5,88.1,1059860,0,Lizard Pokémon,Hitokageヒトカゲ
4,5,Charmeleon,fire,NaN,45,58,80,64,80,58,65,1,1.1,19.0,88.1,1059860,0,Flame Pokémon,Lizardoリザード
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,797,Celesteela,steel,flying,25,97,61,101,107,103,101,7,9.2,999.9,NaN,1250000,1,Launch Pokémon,Tekkaguyaテッカグヤ
797,798,Kartana,grass,steel,255,59,109,181,59,131,31,7,0.3,0.1,NaN,1250000,1,Drawn Sword Pokémon,Kamiturugiカミツルギ
798,799,Guzzlord,dark,dragon,15,223,43,101,97,53,53,7,5.5,888.0,NaN,1250000,1,Junkivore Pokémon,Akuzikingアクジキング
799,800,Necrozma,psychic,NaN,3,97,79,107,127,101,89,7,2.4,230.0,NaN,1250000,1,Prism Pokémon,Necrozmaネクロズマ
800,801,Magearna,steel,fairy,3,80,65,95,130,115,115,7,1.0,80.5,NaN,1250000,1,Artificial Pokémon,Magearnaマギアナ

### Find all Pokemon That only have a single Type, Using ISNULL

`.isnull()`: returns `True` or `False` whether or not a value is null (NaN).


`df[condition]`: specifying condition(s) to query by.
- condition example: `df[col1] == value`

In [8]:
singleTypepokemon = simpledf[simpledf['type2'].isnull()]

In [9]:
singleTypepokemon

,pokedex_number,name,type1,type2,capture_rate,hp,speed,attack,sp_attack,defense,sp_defense,generation,height_m,weight_kg,percentage_male,experience_growth,is_legendary,classfication,japanese_name
3,4,Charmander,fire,NaN,45,39,65,52,60,43,50,1,0.6,8.5,88.1,1059860,0,Lizard Pokémon,Hitokageヒトカゲ
4,5,Charmeleon,fire,NaN,45,58,80,64,80,58,65,1,1.1,19.0,88.1,1059860,0,Flame Pokémon,Lizardoリザード
6,7,Squirtle,water,NaN,45,44,43,48,50,65,64,1,0.5,9.0,88.1,1059860,0,Tiny Turtle Pokémon,Zenigameゼニガメ
7,8,Wartortle,water,NaN,45,59,58,63,65,80,80,1,1.0,22.5,88.1,1059860,0,Turtle Pokémon,Kameilカメール
8,9,Blastoise,water,NaN,45,79,78,103,135,120,115,1,1.6,85.5,88.1,1059860,0,Shellfish Pokémon,Kamexカメックス
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
781,782,Jangmo-o,dragon,NaN,45,45,45,55,45,65,45,7,0.6,29.7,50.0,1250000,0,Scaly Pokémon,Jyarakoジャラコ
788,789,Cosmog,psychic,NaN,45,43,37,29,29,31,31,7,0.2,0.1,NaN,1250000,1,Nebula Pokémon,Cosmogコスモッグ
789,790,Cosmoem,psychic,NaN,45,43,37,29,29,131,131,7,0.1,999.9,NaN,1250000,1,Protostar Pokémon,Cosmovumコスモウム
795,796,Xurkitree,electric,NaN,30,83,83,89,173,71,71,7,3.8,100.0,NaN,1250000,1,Glowing Pokémon,Denjyumokuデンジュモク
799,800,Necrozma,psychic,NaN,3,97,79,107,127,101,89,7,2.4,230.0,NaN,1250000,1,Prism Pokémon,Necrozmaネクロズマ

### Of the 384 'singleTypepokemon', make a subset of those from generation 1 only.

In [10]:
STPG1 = singleTypepokemon[singleTypepokemon['generation'] == 1]

### Of the Generation 1 Single Type pokemon , what is the number of each single type pokemon ?

`.value_counts()`: method for Pandas.Series -> count all occurences of values. ([doc](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html))

[See also df.value_counts()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.value_counts.html): value counts for dataframe

In [11]:
STPG1_count = STPG1['type1'].value_counts()

In [12]:
STPG1_count

water       18
normal       8
poison       8
fire         8
psychic      7
fighting     7
electric     5
bug          3
fairy        2
dragon       2
ground       1
grass        1
Name: type1, dtype: int64

### Please create a df subset of the most common type of single type gen 1 pokemon

In [13]:
STPG1[STPG1['type1'] == 'water']

,pokedex_number,name,type1,type2,capture_rate,hp,speed,attack,sp_attack,defense,sp_defense,generation,height_m,weight_kg,percentage_male,experience_growth,is_legendary,classfication,japanese_name
6,7,Squirtle,water,NaN,45,44,43,48,50,65,64,1,0.5,9.0,88.1,1059860,0,Tiny Turtle Pokémon,Zenigameゼニガメ
7,8,Wartortle,water,NaN,45,59,58,63,65,80,80,1,1.0,22.5,88.1,1059860,0,Turtle Pokémon,Kameilカメール
8,9,Blastoise,water,NaN,45,79,78,103,135,120,115,1,1.6,85.5,88.1,1059860,0,Shellfish Pokémon,Kamexカメックス
53,54,Psyduck,water,NaN,190,50,55,52,65,48,50,1,0.8,19.6,50.0,1000000,0,Duck Pokémon,Koduckコダック
54,55,Golduck,water,NaN,75,80,85,82,95,78,80,1,1.7,76.6,50.0,1000000,0,Duck Pokémon,Golduckゴルダック
59,60,Poliwag,water,NaN,255,40,90,50,40,40,40,1,0.6,12.4,50.0,1059860,0,Tadpole Pokémon,Nyoromoニョロモ
60,61,Poliwhirl,water,NaN,120,65,90,65,50,65,50,1,1.0,20.0,50.0,1059860,0,Tadpole Pokémon,Nyorozoニョロゾ
85,86,Seel,water,NaN,190,65,45,45,45,55,70,1,1.1,90.0,50.0,1000000,0,Sea Lion Pokémon,Pawouパウワウ
89,90,Shellder,water,NaN,190,30,40,65,45,100,25,1,0.3,4.0,50.0,1250000,0,Bivalve Pokémon,Shellderシェルダー
97,98,Krabby,water,NaN,225,30,50,105,25,90,25,1,0.4,6.5,50.0,1000000,0,River Crab Pokémon,Crabクラブ
98,99,Kingler,water,NaN,60,55,75,130,50,115,50,1,1.3,60.0,50.0,1000000,0,Pincer Pokémon,Kinglerキングラー
115,116,Horsea,water,NaN,225,30,60,40,70,70,25,1,0.4,8.0,50.0,1000000,0,Dragon Pokémon,Tattuタッツー
116,117,Seadra,water,NaN,75,55,85,65,95,95,45,1,1.2,25.0,50.0,1000000,0,Dragon Pokémon,Seadraシードラ
117,118,Goldeen,water,NaN,225,45,63,67,35,60,50,1,0.6,15.0,50.0,1000000,0,Goldfish Pokémon,Tosakintoトサキント
118,119,Seaking,water,NaN,60,80,68,92,65,65,80,1,1.3,39.0,50.0,1000000,0,Goldfish Pokémon,Azumaoアズマオウ
119,120,Staryu,water,NaN,225,30,85,45,70,55,55,1,0.8,34.5,NaN,1250000,0,Starshape Pokémon,Hitodemanヒトデマン
128,129,Magikarp,water,NaN,255,20,80,10,15,55,20,1,0.9,10.0,50.0,1250000,0,Fish Pokémon,Koikingコイキング
133,134,Vaporeon,water,NaN,45,130,65,65,110,60,95,1,1.0,29.0,88.1,1000000,0,Bubble Jet Pokémon,Showersシャワーズ

## Specifying multiple conditions for querying

`df[(condition1) & (condition2) & ... (conditionN)]`: to query by multiple conditions
- note: `&` is for `and`, you can also use `|` for `or`
- example of more complex conditions:


`df[((condition1a | condition1b) & (condition2)) | (condition3)]`

In [14]:
simpledf[(simpledf['type2'].isnull())  & (simpledf['generation'] == 1) & (simpledf['type1'] == 'water')]

,pokedex_number,name,type1,type2,capture_rate,hp,speed,attack,sp_attack,defense,sp_defense,generation,height_m,weight_kg,percentage_male,experience_growth,is_legendary,classfication,japanese_name
6,7,Squirtle,water,NaN,45,44,43,48,50,65,64,1,0.5,9.0,88.1,1059860,0,Tiny Turtle Pokémon,Zenigameゼニガメ
7,8,Wartortle,water,NaN,45,59,58,63,65,80,80,1,1.0,22.5,88.1,1059860,0,Turtle Pokémon,Kameilカメール
8,9,Blastoise,water,NaN,45,79,78,103,135,120,115,1,1.6,85.5,88.1,1059860,0,Shellfish Pokémon,Kamexカメックス
53,54,Psyduck,water,NaN,190,50,55,52,65,48,50,1,0.8,19.6,50.0,1000000,0,Duck Pokémon,Koduckコダック
54,55,Golduck,water,NaN,75,80,85,82,95,78,80,1,1.7,76.6,50.0,1000000,0,Duck Pokémon,Golduckゴルダック
59,60,Poliwag,water,NaN,255,40,90,50,40,40,40,1,0.6,12.4,50.0,1059860,0,Tadpole Pokémon,Nyoromoニョロモ
60,61,Poliwhirl,water,NaN,120,65,90,65,50,65,50,1,1.0,20.0,50.0,1059860,0,Tadpole Pokémon,Nyorozoニョロゾ
85,86,Seel,water,NaN,190,65,45,45,45,55,70,1,1.1,90.0,50.0,1000000,0,Sea Lion Pokémon,Pawouパウワウ
89,90,Shellder,water,NaN,190,30,40,65,45,100,25,1,0.3,4.0,50.0,1250000,0,Bivalve Pokémon,Shellderシェルダー
97,98,Krabby,water,NaN,225,30,50,105,25,90,25,1,0.4,6.5,50.0,1000000,0,River Crab Pokémon,Crabクラブ
98,99,Kingler,water,NaN,60,55,75,130,50,115,50,1,1.3,60.0,50.0,1000000,0,Pincer Pokémon,Kinglerキングラー
115,116,Horsea,water,NaN,225,30,60,40,70,70,25,1,0.4,8.0,50.0,1000000,0,Dragon Pokémon,Tattuタッツー
116,117,Seadra,water,NaN,75,55,85,65,95,95,45,1,1.2,25.0,50.0,1000000,0,Dragon Pokémon,Seadraシードラ
117,118,Goldeen,water,NaN,225,45,63,67,35,60,50,1,0.6,15.0,50.0,1000000,0,Goldfish Pokémon,Tosakintoトサキント
118,119,Seaking,water,NaN,60,80,68,92,65,65,80,1,1.3,39.0,50.0,1000000,0,Goldfish Pokémon,Azumaoアズマオウ
119,120,Staryu,water,NaN,225,30,85,45,70,55,55,1,0.8,34.5,NaN,1250000,0,Starshape Pokémon,Hitodemanヒトデマン
128,129,Magikarp,water,NaN,255,20,80,10,15,55,20,1,0.9,10.0,50.0,1250000,0,Fish Pokémon,Koikingコイキング
133,134,Vaporeon,water,NaN,45,130,65,65,110,60,95,1,1.0,29.0,88.1,1000000,0,Bubble Jet Pokémon,Showersシャワーズ